/* lexend-300 - latin */
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../assets/fonts/lexend-v17-latin-300.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../assets/fonts/lexend-v17-latin-300.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lexend-regular - latin */
@font-face {
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../assets/fonts/lexend-v17-latin-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../assets/fonts/lexend-v17-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lexend-500 - latin */
@font-face {
  font-family: 'Lexend';
  font-weight: 500;
  src: local(''),
    url('../assets/fonts/lexend-v17-latin-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../assets/fonts/lexend-v17-latin-500.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lexend-600 - latin */
@font-face {
  font-family: 'Lexend';
  font-weight: 600;
  src: local(''),
    url('../assets/fonts/lexend-v17-latin-600.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../assets/fonts/lexend-v17-latin-600.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lexend-700 - latin */
@font-face {
  font-family: 'Lexend';
  font-weight: 700;
  src: local(''),
    url('../assets/fonts/lexend-v17-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../assets/fonts/lexend-v17-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lexend-800 - latin */
@font-face {
  font-family: 'Lexend';
  font-weight: 800;
  font-style: bold;
  src: local(''),
    url('../assets/fonts/lexend-v17-latin-800.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../assets/fonts/lexend-v17-latin-800.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$background: #222222;
$accent: #00FE8F;
$accent-dark: #2C5140;
$textarea-border: #233F32;
$body-border: #000000;

body {
  width: 300px;
  font-family: 'Lexend', sans-serif;
  background: $background;
  border: 1px solid $body-border;
  padding: 1rem;
  border-radius: 5px;
}

label, textarea {
  display: block;
}

label {
  font-size: 1.4rem;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  background: $background;
  border: 1px solid $textarea-border;
  border-radius: 5px;
  color: $accent;
  padding: 1rem;
  font-size: 1.125rem;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
}

textarea::placeholder {
  color: $accent-dark;
  font-family: 'Lexend', sans-serif;
  padding: 0rem .1rem;
  font-size: 1.125rem;
}

textarea:focus {
  outline: none;
  border: 1px solid $accent;
  box-shadow: 0 0 4px $accent;
}

button {
  width: 100%;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  background: $background;
  color: $accent;
  border: 3px solid $accent;
  font-size: 1.437rem;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 5px;
  font-style: bold;
  font-family: 'Lexend', sans-serif;
  box-shadow: 0 0 8px $accent;
}

label {
  color: $accent;
  font-size: 1.125rem;
  text-shadow: 1px 1px 8px $accent;
}

label:focus-within {
  color: $accent;
}

input[type=radio] {
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 8px $accent;
}

input[type=radio]:checked {
  background: $accent;
}

input[type=radio]:not(:checked) {
  background: $accent-dark;
  box-shadow: none;
}

input[type=radio]:not(:checked)+label {
  color: $accent-dark;
  text-shadow: none;
}

input[type=radio]:checked + label {
  color: $accent;
}

header {
  display: flex;
  width: 30%;
  margin-bottom: .8rem;
}

.css-con, .scss-con {
  display: flex;
  align-items: center;
}

.css-con {
  margin-left: 1rem;
}

.scss-con input, .css-con input {
  order: 2;
}

.scss-con label, .css-con label {
  order: 1;
}

.error-msg {
  color: rgba(190, 44, 0, 0.573);
  font-weight: 300;
  text-shadow: 0px 0px 2px red;
  margin: 0.7rem 0;
}

.error-msg span {
  text-shadow: 1px 1px 8px red;
  color: rgb(255, 60, 0);
  display: block;
  font-weight: 500;
}

.invisible {
  display: none;
}

#invisible {
  display: none;
}

.success-msg-con {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 5;
  text-align: center;
  width: 100%;
  height: 100%;
  background: $background;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
}

.success-msg {
  text-transform: uppercase;
  color: $accent;
  font-weight: 900;
  font-size: 2rem;
  text-shadow: 0px 0px 10px $accent;
  inset: 0;
  animation: fade-out 1700ms forwards;
}

.success-msg[closing] {
  animation: slide-up 500ms forwards;
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  0% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}
